@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-size: 16px;
    font-family: "Poppins", serif;
}

:root {
    --cinza: #6C757D;
    --branco: #ffffff;
    --vermelhoClaro: #F2676E;
    --vermelhoEscuro: #B70F18;
    --preto: #000000;
    --pretoSecundario: #111111;
}

/* Menu */
.my-menu-navbar {
    text-align: center;
}

.my-menu-efeito {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    top: 0;
    width: 100%;
    margin-bottom: 3.5%;
}

/* Logo */
.my-menu-logo {
    height: 50px;
}

.my-menu-logoFisio {
    color: black;
    font-weight: 500;
}

.my-menu-logoFit {
    color: red;
    font-weight: 500;
}

.my-menu-logoFormatacao {
    text-decoration: none;
}

/* Links */
.my-menu-links {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
}

.my-menu-links:hover {
    color: red;
}

/* Responsividade */
@media (max-width: 990px) {
    .my-menu-navbar .nav-item {
        font-size: 20px;
        margin: 10px 0;
    }

    .my-menu-btnPerfil {
        font-size: 20px;
    }

    .my-menu-responsividadeIconesBotao {
        margin: 20px 0;
    }
}

/* Btn Perfil */
.my-menu-btnPerfil {
    background-color: red;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.my-menu-btnPerfil:hover {
    opacity: 75%;
}

/* Ajustes no modal */
.modal-dialog {
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
}

.modal-content {
    border-radius: 20px;
    padding: 0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.itens {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos dos campos de input */
.itens input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Botão de login */
#botao-entrar {
    background-color: var(--vermelhoEscuro);
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
#botao-cadastrar{
    background-color: var(--vermelhoEscuro);
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

/* Link de cadastro */
.texto {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.texto a {
    color: var(--vermelhoEscuro);
    text-decoration: none;
}

/* Estilos para os ícones dentro do input */
.input-group-text {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group-text i {
    color: #555;
}

.texto-principal {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 1%;
}

.itens img {
    margin-bottom: 5%;
}

#icone-ver-senha {
    cursor: pointer;
}

.itens button {
    font-weight: 600;
}

.itens a {
    text-decoration: none;
    color: var(--vermelhoEscuro);
}

.text-center > p {
    padding-top: 20px;
    border-top: 1px solid black;
}

.modal-body div > img {
    max-height: 100%; /* Garante que a imagem ocupe 100% da altura */
    height: 100%;
    width: 100%; /* Largura definida como 50% */
    object-fit: cover; /* Preenche o espaço mantendo proporções */
    object-position: center; /* Centraliza a imagem */
}

