/* Nesse file eu estou alterando os elementos da main e do footer */

:root {
    --cinza: #6C757D;
    --branco: #ffffff;
    --vermelhoClaro: #F2676E;
    --vermelho: #f23943;
    --preto: #000000;
    --pretoSecundario: #111111;
    --pretoOpaco: #00000080;
    --cinza: #7f7f7f;
}

/* Garantir que o body ocupe toda a altura da tela */
html, body {
    height: 100%;
    margin: 0;
}

/* Usar flexbox para estruturar o layout */
body {
    display: flex;
    flex-direction: column;
}

/* Empurrar o conteúdo principal para cima */
main {
    flex: 1;
}

/* Rodapé fixo no final */
footer {
    background-color: #000000;
    color: var(--cinza);
    padding: 0.5%;
    text-align: center;
}

.main-space {
    margin-bottom: 6%;
}

h3 > #site {
    color: var(--vermelho);
    font-size: x-large;
    font-weight: bold;
}

#main-space-h3 {
    margin-bottom: 6%;
}

#main-p {
    color: var(--pretoOpaco);
    margin-bottom: 6%;
}

#btn-lembretes {
    border: none;
    padding: 1.5%;
    background-color: var(--vermelho);
    color: var(--branco);
    border-radius: 10px;
}

#btn-lembretes:hover {
    animation-name: anim-btn-lembretes;
    animation-duration: 1s;
}

@keyframes anim-btn-lembretes {
    50%{transform: scale(1.1, 1.1);}
}

#imagem-1 {
    width: 80%;
    height: auto;
    margin-left: 25%;
}

.main-cnt {
    margin-bottom: 5%;
}

.footer-cont {
    background-color: #000000;
    padding: 0.5%;
    color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-cont p {
    margin-top: 5%;
}

.custom-alert {
    width: 70%;
    max-width: 70%; 
    margin: 0 auto;
    margin-top: 1%;
}

/* imagem perfil (Modal) */
.modal-perfil {
    text-align: center;
}

.img-modal-perfil {
    width: 5%;
    height: auto;
}

